[submodule "Assets/Sprites"]
	path = Assets/Sprites
	url = https://github.com/UNO-CSCI-4675/honest_abe_sprites.git
	branch = master
[submodule "Assets/Models"]
	path = Assets/Models
	url = https://github.com/UNO-CSCI-4675/honest_abe_models.git
	branch = master
[submodule "Assets/Audio"]
	path = Assets/Audio
	url = https://github.com/UNO-CSCI-4675/honest_abe_audio.git
	branch = master
